<html>

<head>
  <title>Tour Minerへようこそ！
  </title>
  <!--  Style Sheet Import -->
  <link rel="stylesheet" href="assets/owl-carousel/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/owl-carousel/assets/owl.carousel.min.css" />

  <!-- JS Import  -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Important Owl stylesheet -->
  <script src="assets/owl-carousel/owl.carousel.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="../style.css"> -->

  <link href="assets/css/style.css" type="text/css" rel="stylesheet" />
</head>


<body id="the_body">
  <div id="navbar">
    <nav id="navbar" style="background-color: #A9FFD1" class="navbar navbar-default navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="col-md-3 navbar-header">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                      <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img style="height:250%; margin-top:-30%" src="assets/img/icon.png" alt="">
              <!-- Welcome to Tour Mining -->
            </a>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="nav navbar-nav collapse navbar-collapse pullRight col-md-9" id="bs-example-navbar-collapse-1">
          <!-- <div class="col-md-12"> -->
          <form action="/searching-keyword" method="POST">
          <ul class="nav navbar-nav">
            <li><a href="">Browse</a></li>
            <li>
              <section class="main">
                <div class="search navbar-form" autocomplete="off">

                  <div class="form-group content">
                    <input type="text" style="width:150%;" class="form-control searching" id="search"  name="input_keyword" autocomplete="off" />

                  </div>
                </div>
              </section>
            </li>
            <li style="margin-left:100px;margin-top:14px"><button type="submit" style=" 4padding: 0;border: none;background: none;">Search &ensp; <span class="glyphicon glyphicon-search"></span></button></li>
            <li><a href="/">Advance Search   <span class="glyphicon glyphicon-cog"></span></a></li>

          </ul>
          </form>
        </div>
        <div class="col-md-3 nav navbar-nav navbar-right navbar-collapse pullRight collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="">Contract Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <br />
  <div style="text-align:center; padding:0; margin:0;z-index:-1;margin-bottom:40px" class="col-md-12" id="carousel_main">
    <div class="owl-carousel owl-theme">
      <div class="item"><img height="600" src="assets/img/bg/1.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/2.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/3.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/4.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/5.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/6.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/7.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/8.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/9.jpg" alt=""></div>
      <div class="item"><img height="600" src="assets/img/bg/10.jpg" alt=""></div>

    </div>

  </div>

  <h1 style="color: white;text-shadow: 4px 4px 8px #000000;position: absolute;
    left:300px;
    top: 400px;
    font-size: 4vw">LET US DESIGN YOUR JOURNEY !</h1>
  <a href="/search"><button type="button" class="btn btn-trans btn-trans-default" style="background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none; font-size: 1.5vw;position:absolute;left:540;top:530"><div style="font-size:150%;color:white">Start Your Journey Now !</div></button></a>
</body>


<div id="footer" class="margin-top:50px">

    <div class="container">
        <div class="row">
          <hr>

            <h1 class="footertext" style="text-align:center">ABOUT OUR SYSTEM</h1><br>
              <div class="col-md-4">
                <center>
                  <img src="assets/img/flex-icon.png" width="70" height="70" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Flexibility</h4>
                  <p class="footertext">Our service provide many ways to perform the task and give ease of use to user.<br>
                </center>
              </div>
              <div class="col-md-4" style="border-left: 1px solid gray;">
                <center>
                  <img src="assets/img/twitter.png" width="70" height="70" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Twitter API</h4>
                  <p class="footertext">Using one of the most popular SNS platform to create the Tour Record<br>
                </center>
              </div>
              <div class="col-md-4" style="border-left: 1px solid gray;">
                <center>
                  <img src="assets/img/result-icon.png" width="70" height="70" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Promising Outcome</h4>
                  <p class="footertext">The tour record will be generate from user input and resulting in the multiple record creation.<br>
                </center>
              </div>
            </div>
            <div class="row">
            <p><center><a href="#">Contact Us</a> <p class="footertext">Tour Miner Team</p></center></p>
        </div>
    </div>
</div>

</html>

<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 0,
    center: true,
    autoplay: true,
    // autowidth:true,

    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 1
      },
      1000: {
        items: 1
      }
    }
  })
</script>
